.impactSection {
  background: #f3f3f3;
  padding: 110px 0 120px;
  text-align: center;
}

/* Title */
.impactTitle {
    font-family: "Bebas Neue", Sans-serif;
    font-size: 41.81px;
    font-weight: 600;
    line-height: 53.76px;
    letter-spacing: 1px;
    color: #000;
}
// .impactTitle {
//   font-size: 68px;
//   font-weight: 900;
//   letter-spacing: 2px;
//   margin-bottom: 80px;
//   color: #111;
// }

/* Grid spacing */

.impactGrid {
  margin-top: 30px;
}

/* Each card */

.impactCard {
  text-align: center;
  padding: 10px 15px;
}

/* Big Numbers */

.impactValue {
  font-size: 110px;
  font-weight: 900;
  line-height: 1;
  color: #7bb44d;
  margin-bottom: 10px;
}

/* LAC / VILLAGES / PROJECTS / STATES */

.impactLabel {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #7bb44d;
  margin-bottom: 12px;
}

/* description */

.impactDesc {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* text lines */

.impactText {
  font-size: 15px;
  line-height: 1.4;
  color: #333;
}

/* Responsive */

@media (max-width: 1200px) {
  .impactValue {
  
    font-size: 90px;
  }
}

@media (max-width: 1200px) {
  .impactSection {
    padding: 80px 0;
  }

  .impactTitle {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .impactValue {
    font-size: 70px;
  }

  .impactLabel {
    font-size: 18px;
  }

  .impactText {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .impactValue {
    font-size: 60px;
  }

  .impactLabel {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
    .css-5c1adp-MuiContainer-root {
        max-width: 830px;
    }
}